<div class="content-container min-full-height" layout="column" layout-align="start start">
	<page-header theme="globals.theme" header="Applications"></page-header>
	<line-message class="full-width" type="info" message="Have an Idea? Write to us at <a href='mailto:ideas@amazecreationz.in'>ideas@amazecreationz.in</a>. We will make it happen. :)"></line-message>
	<div class="app-cards">
		<app-card ng-show="appInfo.priority" ng-repeat="appInfo in appsInfo | orderBy: 'priority'" theme="globals.theme" app-info="appInfo" index="$index"></app-card>
	</div>
</div>