<div class="card">
	<div class="card-header text-size-d" layout="row" layout="start center">Full Time</div>
	<div class="card-body" permission-check="appData.user.permission" min-permission="globals.permissions.ADMIN" layout="row" layout-wrap>
		<list-loader list="console.fullTime" list-param="Crew"></list-loader>
		<crew is-small="true" crew-info="crew" on-click="onCrewSelect" ng-repeat="crew in console.fullTime | orderBy : 'level'" flex-lg="33" flex-md="50" flex-sm="50" flex-xs="100"></crew>
	</div>
</div>
<div class="card">
	<div class="card-header text-size-d" layout="row" layout="start center">Collaborators</div>
	<div class="card-body" permission-check="appData.user.permission" min-permission="globals.permissions.ADMIN" layout="row" layout-wrap>
		<list-loader list="console.collaborators" list-param="Collaborators"></list-loader>
		<contributor crew-info="collaborator" on-click="onCrewSelect" ng-repeat="collaborator in console.collaborators | orderBy : 'name'" flex-lg="33" flex-md="50" flex-sm="50" flex-xs="100"></contributor>
	</div>
</div>