<div class="card">
	<div class="card-header text-size-d" layout="row" layout="start center">User Queries</div>
	<div class="card-body" permission-check="appData.user.permission" min-permission="globals.permissions.MANAGER" layout="row" layout-wrap>
		<list-loader list="console.userQuery" list-param="Queries"></list-loader>
		<div class="query-list" layout="row" layout-align="start center" ng-repeat="query in console.userQuery | orderBy : 'date' : true" flex="100" ng-click="onQuerySelect(query)">
			<div class="main" flex>
				<div class="content" md-truncate>{{query.content}}</div>
				<div class="name">{{query.name}}</div>
				<div class="date">{{query.date | date : globals.dateFormat}}</div>
			</div>
			<div class="action">
				<md-icon class="material-icons" ng-click="deleteQuery(query.id); $event.stopPropagation();">delete</md-icon>
			</div>
		</div>
	</div>
</div>
<div ng-hide="console.visitorQuery | isEmpty" class="card">
	<div class="card-header text-size-d" layout="row" layout="start center">Visitor Queries</div>
	<div class="card-body" permission-check="appData.user.permission" min-permission="globals.permissions.MANAGER" layout="row" layout-wrap>
		<list-loader list="console.visitorQuery" list-param="Queries"></list-loader>
		<div class="query-list" layout="row" layout-align="start center" ng-repeat="query in console.visitorQuery | orderBy : 'date' : true" flex="100" ng-click="onQuerySelect(query)">
			<div class="main" flex>
				<div class="content" md-truncate>{{query.content}}</div>
				<div class="name">{{query.name}}</div>
				<div class="date">{{query.date | date : globals.dateFormat}}</div>
			</div>
			<div class="action">
				<md-icon class="material-icons" ng-click="deleteQuery(query.id); $event.stopPropagation();">delete</md-icon>
			</div>
		</div>
	</div>
</div>
<div ng-hide="console.attendedQuery | isEmpty" class="card">
	<div class="card-header text-size-d" layout="row" layout="start center">Attended Queries</div>
	<div class="card-body" permission-check="appData.user.permission" min-permission="globals.permissions.MANAGER" layout="row" layout-wrap>
		<list-loader list="console.attendedQuery" list-param="Queries"></list-loader>
		<div class="query-list" layout="row" layout-align="start center" ng-repeat="query in console.attendedQuery | orderBy : 'date' : true" flex="100" ng-click="onQuerySelect(query)">
			<div class="main" flex>
				<div class="content" md-truncate>{{query.content}}</div>
				<div class="name">{{query.name}}</div>
				<div class="date">{{query.date | date : globals.dateFormat}}</div>
			</div>
			<div class="action">
				<md-icon class="material-icons" ng-click="deleteQuery(query.id); $event.stopPropagation();">delete</md-icon>
			</div>
		</div>
	</div>
</div>