<div class="content-container">
	<page-header theme="globals.theme" header="Get In Touch"></page-header>
	<div class="contact-cards" layout-gt-xs="row" layout-fill>
		<div class="card" flex-gt-xs="50">
			<div class="card-header text-size-d">Contact Us</div>
			<div class="card-body" layout="column" layout-align="center start">
				<div class="contact-phone" layout="row" layout-align="start center">
					<md-icon class="material-icon">phone</md-icon>
					<a href="tel:{{contacts.phone}}" target="_blank" class="text-size-e">{{contacts.phone}}</a>
					<span flex></span>
				</div>
				<div class="contact-email" layout="row" layout-align="start center">
					<md-icon class="material-icon">email</md-icon>
					<a href="mailto:{{contacts.email}}" target="_blank" class="text-size-e">{{contacts.email}}</a>
					<span flex></span>
				</div>
			</div>
		</div>
		<div class="card" flex>
			<div class="card-header text-size-d">Address</div>
			<div class="card-body">
				<a class="contact-location text-size-e" ng-bind-html="contacts.location" href="{{contacts.maps}}" target="_blank"></a>
			</div>
		</div>
	</div>
	<div ng-show="appData.loaded.fontAwesome" class="card social-card" layout="row" layout-wrap>
		<div class="text-center" ng-repeat="(type, link) in contacts.social" flex>
			<a href="{{link}}" target="_blank" class="fa fa-{{type}}"></a>
		</div>
	</div>
	<div id="query" class="card">
		<div class="card-header text-size-d">Query</div>
		<div class="card-body">
			<loader loader="!showForm" flex></loader>
			<form ng-show="showForm" name="queryForm" ng-submit="submitQuery()">
				<div layout-gt-xs="row">
					<md-input-container class="full-width mrgbot0" flex-gt-xs>
	                    <label>Name</label>
	                    <input type="text" name="name" ng-model="query.n" ng-disabled="appData.user.p != globals.p.VISITOR" autocomplete="off" required>
	                    <div ng-messages="queryForm.name.$error" role="alert">
				        	<div ng-message="required">Name can't be empty.</div>
				        </div>
	                </md-input-container>
	                <span hide-xs class="padlr10"></span>
	                <md-input-container class="full-width mrgbot0" flex-gt-xs>
	                    <label>Email</label>
	                    <input type="email" name="email" ng-model="query.e" ng-disabled="appData.user.p != globals.p.VISITOR" autocomplete="off" ng-pattern="/^.+@.+\..+$/" required>
	                    <div ng-messages="queryForm.email.$error" role="alert">
				        	<div ng-message="required">Email address can't be empty.</div>
				        	<div ng-message="pattern">Enter a valid email address.</div>
				        </div>
	                </md-input-container>
                </div>
                <md-input-container class="full-width" flex-gt-xs>
	                <label>Query</label>
	                <textarea name="content" ng-model="query.c" md-maxlength="500" rows="5" autocomplete="off" required></textarea>
	                <div ng-messages="queryForm.content.$error" role="alert">
			        	<div ng-message="required">Query can't be empty.</div>
			        	<div ng-message="md-maxlength">Exceeded maximum allowed characters for query.</div>
			        </div>
	            </md-input-container>
                <div class="padtb10 text-center">
                	<md-button type="submit" class="md-raised md-primary mrg0 padlr20">Send Query</md-button>
                </div>
			</form>
			<div ng-if="appData.user.p == globals.p.VISITOR" class="text-14">*<a class="pointer" ng-click="showLogin()">Login</a><span class="text-italic"> to get priority response.</span></div>
		</div>
	</div>
</div>