<div ng-Controller="EmployeeMeterController" class="content-container min-full-height" layout="column" layout-align="start center">
    <page-header theme="globals.theme" header="{{appInfo.name}}" tabs="EmployeeMeter.tabs" current-tab="EmployeeMeter.currentTab" on-tab-select="EmployeeMeter.onTabSelect"></page-header>
    <div ng-show="EmployeeMeter.currentTab=='overview'" class="full-width">
        <div class="card">
            <div class="card-header text-size-d">Description</div>
            <div class="card-body text-justify">
                <div class="padbot10">Only for Personal use.</div>
                Keep track of your personal employees with our new application Employee Meter. You can mark the absence and payments and get a detailed analysis on our dashboard.
                <div class="padtop10">
                    Android application is developing under the hood. Make the maximum use of web application until then.
                </div>
                <div class="padtb10">
                    Give us feedback at: <a href="mailto:{{globals.feedback.email}}">{{globals.feedback.email}}</a>.
                </div>
            </div>
        </div>

        <div ng-hide="appInfo.contributorsList | isEmpty" class="card">
            <div class="card-header text-size-d">Contributors</div>
            <div class="card-body" layout="row" layout-wrap>
                <loader flex="100" loader="!appInfo.contributorsList"></loader>
                <contributor flex="33" flex-sm="50" flex-xs="100" ng-repeat="crewInfo in appInfo.contributorsList" crew-info="crewInfo" on-click="onCrewSelect"></contributor>
            </div>
        </div>
        <div ng-hide="appInfo.gitCommits | isEmpty" class="card">
            <div class="card-header text-size-d">Git Commits</div>
            <div class="card-body" layout="row" layout-wrap>
                <loader flex="100" loader="!appInfo.gitCommits"></loader>
                <git-commit flex="50" flex-sm="50" flex-xs="100" commit-info="commitInfo" ng-repeat="commitInfo in appInfo.gitCommits"></git-commit>
            </div>
        </div>
    </div>

    <div ng-show="EmployeeMeter.currentTab=='dashboard'" class="full-width">
        <div class="card">
            <div permission-check="appData.user.permission" min-permission="globals.permissions.USER" layout-gt-sm="row">
                <div class="employee-list" flex-gt-sm="35" flex-sm="100">
                    <div class="employee" layout="row" layout-align="center center" ng-class="hover ? 'bg-light-theme-'+globals.theme : ''" ng-init="hover=false" ng-mouseenter="hover=true" ng-mouseleave="hover=false" ng-click="EmployeeMeter.employeeFunction('add')" hide show-gt-sm>
                        <div class="icon" ng-class="'bg' + (hover ? '-' : '-light-') + 'theme-' + globals.theme">
                            <md-icon class="material-icons">add</md-icon>
                        </div>
                        <div class="name text-dark" flex>Add Employee</div>
                    </div>
                    <div class="divider" hide-xs hide-sm></div>
                    <div class="employees-container" hide-xs hide-sm>
                        <div class="employee" ng-repeat="(employeeId, employee) in EmployeeMeter.employeeList" layout="row" ng-class="(hover || employeeId == EmployeeMeter.employee.id) ? 'bg-light-theme-'+globals.theme : ''" ng-init="hover=false" ng-mouseenter="hover=true" ng-mouseleave="hover=false" ng-click="EmployeeMeter.employeeFunction('select', employeeId)">
                            <div ng-hide="employee.image" class="icon" ng-class="'bg' + (hover ? '-' : '-light-') + 'theme-' + globals.theme">
                                <md-icon class="material-icons">person</md-icon>
                            </div>
                            <div ng-show="employee.image" class="image" image-load image="employee.image"></div>
                            <div layout="column" flex>
                                <div class="name text-dark" md-truncate>{{employee.name}}</div>
                                <div class="text-14 text-dark" md-truncate>{{employee.type}}</div>
                            </div>
                        </div>
                    </div>
                    <md-select ng-hide="EmployeeMeter.employeeList | isEmpty" ng-model="EmployeeMeter.employee.id" aria-label="employee-select" ng-change="EmployeeMeter.employeeFunction((EmployeeMeter.employee.id ? 'select': 'add'), EmployeeMeter.employee.id)" class="mrg0 mrgbot20" hide-gt-sm>
                        <md-option ng-value="undefined">
                            <div class="text-18 pad5 text-dark">Add Employee</div>
                        </md-option>
                        <md-option ng-repeat="(employeeId, employee) in EmployeeMeter.employeeList" ng-value="employeeId">
                            <div class="pad5">
                                <div class="text-16 text-dark" md-truncate>{{employee.name}}</div>
                                <div class="text-14 text-dark" md-truncate>{{employee.type}}</div>
                            </div>
                        </md-option>
                    </md-select>
                </div>
                <div class="employee-container" layout="column" flex>
                    <loader loader="EmployeeMeter.loadEmployee"></loader>
                    <div ng-hide="EmployeeMeter.loadEmployee" layout="column" flex>
                        <div ng-show="EmployeeMeter.showEmployeeForm">
                            <form name="addEmployeeForm" ng-submit="EmployeeMeter.employeeFunction('save', EmployeeMeter.employee.id)">
                                <div layout-gt-xs="row" layout-xs="column" layout-align-xs="center center">
                                    <div class="image" image-load image="EmployeeMeter.employee.image" ng-class="'bg-light-theme-'+ globals.theme"></div>
                                    <div flex>
                                        <div class="mrgtop10" hide-gt-xs></div>
                                        <md-input-container class="full-width mrgbot0 mrgtop15" flex-gt-xs>
                                            <label>Name</label>
                                            <input type="text" name="name" ng-model="EmployeeMeter.employee.name" autocomplete="off" required autofocus>
                                            <div ng-messages="addEmployeeForm.name.$error" role="alert">
                                                <div ng-message="required">Name can't be empty.</div>
                                            </div>
                                        </md-input-container>
                                        <div layout-gt-xs="row">
                                            <md-input-container class="full-width mrgbot0" flex>
                                                <label>Type</label>
                                                <input type="text" name="type" ng-model="EmployeeMeter.employee.type" autocomplete="off" required>
                                                <div ng-messages="addEmployeeForm.type.$error" role="alert">
                                                    <div ng-message="required">Type can't be empty.</div>
                                                </div>
                                            </md-input-container>
                                            <div class="padlr5" hide-xs></div>
                                            <div layout="row" flex>
                                                <md-input-container class="full-width mrgbot0" flex="60">
                                                    <label>Daily Wage</label>
                                                    <input type="number" name="wage" ng-model="EmployeeMeter.employee.wage" min="0" autocomplete="off" required>
                                                    <div ng-messages="addEmployeeForm.wage.$error" role="alert">
                                                        <div ng-message="required">Wage can't be empty.</div>
                                                        <div ng-message="min">Enter a valid amount.</div>
                                                    </div>
                                                </md-input-container>
                                                <md-input-container class="full-width mrgbot0" flex="40">
                                                    <label>Currency</label>
                                                    <input type="text" name="cUnit" ng-model="EmployeeMeter.employee.cU" autocomplete="off" required>
                                                    <div ng-messages="addEmployeeForm.cUnit.$error" role="alert">
                                                        <div ng-message="required">Currency can't be empty.</div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mrgtop5" hide-xs></div>
                                <div layout-gt-xs="row">
                                    <md-input-container class="full-width mrgbot0" flex-gt-xs>
                                        <label>Email</label>
                                        <input type="email" name="email" ng-model="EmployeeMeter.employee.email" autocomplete="off" ng-pattern="/^.+@.+\..+$/">
                                        <div ng-messages="addEmployeeForm.email.$error" role="alert">
                                            <div ng-message="pattern">Enter a valid email address.</div>
                                        </div>
                                    </md-input-container>
                                    <span hide-xs class="padlr5"></span>
                                    <md-input-container class="full-width mrgbot0" flex-gt-xs="40">
                                        <label>Mobile</label>
                                        <input type="tel" name="mobile" ng-model="EmployeeMeter.employee.mobile" autocomplete="off" maxlength="10" ng-pattern="/[0-9]{10}/">
                                        <div ng-messages="addEmployeeForm.mobile.$error" role="alert">
                                            <div ng-message="pattern">Enter a valid 10 digit mobile number.</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout-gt-xs="row" layout-align="center center">
                                    <div class="employee-days" layout="row" layout-xs="row" flex-gt-xs>
                                        <div class="day pointer" ng-repeat="day in EmployeeMeter.days track by $index" ng-class="EmployeeMeter.employee.h.indexOf($index) > -1 ? 'bg-theme-red' : ''" ng-click="EmployeeMeter.shuffleHoliday($index)" flex>{{day}}</div>
                                    </div>
                                    <span class="padlr5" hide-xs></span>
                                    <div class="padtb10" hide-gt-xs></div>
                                    <md-input-container class="full-width mrgbot0 " flex-gt-xs="40">
                                        <label>Joining Date</label>
                                        <md-datepicker ng-model="EmployeeMeter.jD" md-max-date="EmployeeMeter.today" md-placeholder="Joining Date" required ng-disabled="EmployeeMeter.employee.id"></md-datepicker>
                                    </md-input-container>
                                </div>
                                <div class="text-center mrgtop30">
                                    <md-button class="md-raised" type="submit">Save</md-button>
                                    <md-button ng-if="EmployeeMeter.employee.id" class="md-raised md-primary" ng-click="EmployeeMeter.employeeFunction('delete', EmployeeMeter.employee.id)">Delete</md-button>
                                </div>
                            </form>
                        </div>
                        <div ng-if="!EmployeeMeter.showEmployeeForm" layout="column" flex>
                            <div layout-gt-xs="row" layout-xs="column" layout-align-xs="center center" flex>
                                <div class="image" image-load image="EmployeeMeter.employee.image" ng-class="'bg-light-theme-'+globals.theme"></div>
                                <div flex>
                                    <table class="table">
                                        <tbody>
                                            <tr class="padtb10">
                                                <td class="text-bold">Name</td>
                                                <td class="padlr10">:</td>
                                                <td>{{EmployeeMeter.employee.name}}</td>
                                            </tr>
                                            <tr class="padtb10">
                                                <td class="text-bold">Type</td>
                                                <td class="padlr10">:</td>
                                                <td>{{EmployeeMeter.employee.type}}</td>
                                            </tr>
                                            <tr class="padtb10">
                                                <td class="text-bold word-break">Daily Wage</td>
                                                <td class="padlr10">:</td>
                                                <td>{{EmployeeMeter.employee.wage}} {{EmployeeMeter.employee.cU}}</td>
                                            </tr>
                                            <tr class="padtb10">
                                                <td class="text-bold word-break">Joining Date</td>
                                                <td class="padlr10">:</td>
                                                <td>{{EmployeeMeter.employee.jD | date : 'dd MMMM, yyyy'}}</td>
                                            </tr>
                                            <tr ng-if="EmployeeMeter.employee.email" class="padtb10">
                                                <td class="text-bold">Email</td>
                                                <td class="padlr10">:</td>
                                                <td class="word-break">{{EmployeeMeter.employee.email}}</td>
                                            </tr>
                                            <tr ng-if="EmployeeMeter.employee.mobile" class="padtb10">
                                                <td class="text-bold">Mobile</td>
                                                <td class="padlr10">:</td>
                                                <td class="word-break">{{EmployeeMeter.employee.mobile}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="employee-days mrgtop20" layout="row" layout-xs="row" flex-gt-xs>
                                        <div class="day" ng-repeat="day in EmployeeMeter.days track by $index" ng-class="EmployeeMeter.employee.h.indexOf($index) > -1 ? 'bg-theme-red' : ''" flex>{{day}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right mrgtop50 text-28">
                                <md-icon class="pointer" ng-click="EmployeeMeter.employeeFunction('edit', EmployeeMeter.employee.id)">edit</md-icon>
                                <md-icon class="pointer" ng-click="EmployeeMeter.employeeFunction('delete', EmployeeMeter.employee.id)">delete</md-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="!EmployeeMeter.loadEmployee && EmployeeMeter.employee.id" class="card">
            <div class="card-header text-size-d">Monthly Summary</div>
            <div class="card-body" layout-gt-sm="row">
                <overview-calendar flex="60" class="full-width" min-date="EmployeeMeter.employee.jD" max-date="EmployeeMeter.today.getTime()" selected-date="EmployeeMeter.sD" on-date-select="EmployeeMeter.onDateSelect" bars-data="EmployeeMeter.barsData" theme="globals.theme"></overview-calendar>
                <div class="employee-summary" layout="column" layout-sm="row" flex>
                    <div class="padbot20" flex-sm="50">
                        <div class="text-bold text-size-e">Overview</div>
                        <div class="padtop15">
                            <loader class="full-width" loader="EmployeeMeter.mS | isDefined : true" ></loader>
                            <table ng-show="EmployeeMeter.mS | isDefined" class="table">
                                <tbody>
                                    <tr ng-show="EmployeeMeter.s.nB | isDefined" class="padtb10">
                                        <td>Net Balance</td>
                                        <td class="padlr10">:</td>
                                        <td ng-class="{'text-theme-red' : EmployeeMeter.s.nB < 0}">{{EmployeeMeter.s.nB || 0}} {{EmployeeMeter.employee.cU}}</td>
                                    </tr>
                                    <tr ng-show="EmployeeMeter.s.tW | isDefined" class="padtb10 hide">
                                        <td>Total Working</td>
                                        <td class="padlr10">:</td>
                                        <td>{{EmployeeMeter.s.tW || 0}} days</td>
                                    </tr>
                                    <tr class="padtb10">
                                        <td>Balance this month</td>
                                        <td class="padlr10">:</td>
                                        <td>{{EmployeeMeter.mS.mB || 0}} {{EmployeeMeter.employee.cU}}</td>
                                    </tr>
                                    <tr class="padtb10">
                                        <td>Payments this month</td>
                                        <td class="padlr10">:</td>
                                        <td>{{EmployeeMeter.mS.mPay || 0}} {{EmployeeMeter.employee.cU}}</td>
                                    </tr>
                                    <tr class="padtb10">
                                        <td>Total Working</td>
                                        <td class="padlr10">:</td>
                                        <td>{{EmployeeMeter.mS.mTW || 0}} days</td>
                                    </tr>
                                    <tr class="padtb10">
                                        <td>Present</td>
                                        <td class="padlr10">:</td>
                                        <td>{{EmployeeMeter.mS.mP || 0}} days</td>
                                    </tr>
                                    <tr class="padtb10">
                                        <td>Absent</td>
                                        <td class="padlr10">:</td>
                                        <td>{{EmployeeMeter.mS.mA || 0}} days</td>
                                    </tr>
                                    <tr ng-show="EmployeeMeter.mS.mH" class="padtb10">
                                        <td>Other Holidays</td>
                                        <td class="padlr10">:</td>
                                        <td>{{EmployeeMeter.mS.mH || 0}} days</td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                    </div>
                    <div class="employee-daily" flex>
                        <div class="text-bold text-size-e">{{EmployeeMeter.sD | date : 'dd MMMM, yyyy'}}</div>
                        <loader loader="EmployeeMeter.day | isDefined : true"></loader>
                        <div ng-show="EmployeeMeter.day | isDefined" class="padtop15" layout="column" ng-init="editPayment=false;">
                            <md-checkbox ng-hide="EmployeeMeter.day.isH" ng-model="EmployeeMeter.day.mA" aria-label="checkbox-absent" ng-change="EmployeeMeter.markAbsent(EmployeeMeter.day.mA)" ng-disabled="EmployeeMeter.day.h">Absent</md-checkbox>
                            <md-checkbox ng-show="EmployeeMeter.day.isH" ng-model="EmployeeMeter.day.isH" aria-label="checkbox-weekly-holiday" disabled>Holiday</md-checkbox>
                            <md-checkbox ng-hide="EmployeeMeter.day.isH" ng-model="EmployeeMeter.day.h" aria-label="checkbox-holiday" ng-change="EmployeeMeter.markHoliday(EmployeeMeter.day.h)" ng-disabled="EmployeeMeter.day.mA">Holiday</md-checkbox>
                            <div ng-show="!editPayment && EmployeeMeter.day.p" class="padbot20">Payment : {{EmployeeMeter.day.p}} {{EmployeeMeter.employee.cU}} <md-icon class="material-icons pointer" ng-click="EmployeeMeter.day.p = undefined; EmployeeMeter.markPayment()">delete</md-icon></div>
                            <form name="paymentForm" ng-submit="editPayment=false; EmployeeMeter.markPayment(EmployeeMeter.day.p)">
                                <md-input-container ng-show="editPayment" class="full-width mrgbot0">
                                    <label>Payment ({{EmployeeMeter.employee.cU}})</label>
                                    <input type="number" name="payment" ng-model="EmployeeMeter.day.p" min="0" autocomplete="off" required>
                                    <div ng-messages="paymentForm.payment.$error" role="alert">
                                        <div ng-message="required">Payment can't be empty.</div>
                                        <div ng-message="min">Enter a valid amount.</div>
                                    </div>
                                </md-input-container>
                                <md-button ng-show="editPayment" type="submit" class="md-raised md-primary full-width mrg0">Save</md-button>
                                <md-button ng-hide="editPayment" class="md-raised md-primary full-width mrg0" ng-click="editPayment=true;">{{EmployeeMeter.day.p ? 'Edit' : 'Add'}} Payment</md-button>
                                <md-button ng-show="editPayment" class="md-raised full-width mrg0 mrgtop10" ng-click="editPayment=false; EmployeeMeter.loadDay();">Cancel</md-button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>