<div ng-Controller="GPACalcController" class="content-container min-full-height" layout="column" layout-align="start center">
	<page-header theme="globals.theme" header="{{appInfo.name}}"></page-header>
	<div class="card">
		<div class="card-header text-size-d">Description</div>
		<div class="card-body text-justify">
			<div class="padbot10">
				Useful for: <a href="//www.nitc.ac.in" target="_blank">National Institute of Technology Calicut</a> students.
			</div>
			<div class="padbot10">
				It calculates the Grade Point Averages of students from the Gradecard PDF obtained from Institute's website (<a href="//dss.nitc.ac.in" target="_blank">DSS</a>).
				The application has the capability to give semester wise as well as overall results. 
				Credits accumulated in each semeter and total credits are calculated too.
			</div>
			<div class="padbot10">
				Browse to your gradecard and hit calculate!
				More features coming soon.
			</div>
			<div class="padbot10">
				Give us feedback at: <a href="mailto:{{globals.feedback.email}}">{{globals.feedback.email}}</a>.
			</div>
		</div>
		<div class="card-footer">
			<google-play ng-if="appInfo.links.playstore" link="{{appInfo.links.playstore}}" height="36px"></google-play>
		</div>
	</div>

	<div ng-hide="appInfo.contributorsList | isEmpty" class="card">
		<div class="card-header text-size-d">Contributors</div>
		<div class="card-body" layout="row" layout-wrap>
			<loader flex="100" loader="!appInfo.contributorsList"></loader>
			<contributor flex="33" flex-sm="50" flex-xs="100" ng-repeat="crewInfo in appInfo.contributorsList" crew-info="crewInfo" on-click="onCrewSelect"></contributor>
		</div>
	</div>

	<div ng-hide="appInfo.gitCommits | isEmpty" class="card">
		<div class="card-header text-size-d">Git Commits</div>
		<div class="card-body" layout="row" layout-wrap>
			<loader flex="100" loader="!appInfo.gitCommits"></loader>
			<git-commit flex="50" flex-sm="50" flex-xs="100" commit-info="commitInfo" ng-repeat="commitInfo in appInfo.gitCommits"></git-commit>
		</div>
	</div>
</div>