<div ng-Controller="GPACalculatorController" class="content-container min-full-height" layout="column" layout-align="start center">
	<page-header theme="globals.theme" header="{{appInfo.name}}" tabs="GPACalculator.tabs" current-tab="GPACalculator.currentTab" on-tab-select="GPACalculator.onTabSelect"></page-header>
	<div ng-show="GPACalculator.currentTab=='overview'" class="full-width">
		<div class="card">
			<div class="card-header text-size-d">Description</div>
			<div class="card-body text-justify">
				<div class="padbot10">
					Useful for: <a href="//www.nitc.ac.in" target="_blank">National Institute of Technology Calicut</a> students.
				</div>
				<div class="padbot10">
					It calculates the Grade Point Averages of students from the Gradecard PDF obtained from Institute's website (<a href="//dss.nitc.ac.in" target="_blank">DSS</a>).
					The application has the capability to give semester wise as well as overall results. 
					Credits accumulated in each semeter and total credits are calculated too.
				</div>
				<div class="padbot10">
					Browse to your gradecard and hit calculate!
					More features coming soon.
				</div>
				<div class="padbot10">
					Give us feedback at: <a href="mailto:{{globals.feedback.email}}">{{globals.feedback.email}}</a>.
				</div>
			</div>
			<div class="card-footer">
				<google-play ng-if="appInfo.links.playstore" link="{{appInfo.links.playstore}}" height="36px"></google-play>
			</div>
		</div>
		<div ng-hide="appInfo.contributorsList | isEmpty" class="card">
			<div class="card-header text-size-d">Contributors</div>
			<div class="card-body" layout="row" layout-wrap>
				<loader flex="100" loader="!appInfo.contributorsList"></loader>
				<contributor flex="33" flex-sm="50" flex-xs="100" ng-repeat="crewInfo in appInfo.contributorsList" crew-info="crewInfo" on-click="onCrewSelect"></contributor>
			</div>
		</div>

		<div ng-hide="appInfo.gitCommits | isEmpty" class="card">
			<div class="card-header text-size-d">Git Commits</div>
			<div class="card-body" layout="row" layout-wrap>
				<loader flex="100" loader="!appInfo.gitCommits"></loader>
				<git-commit flex="50" flex-sm="50" flex-xs="100" commit-info="commitInfo" ng-repeat="commitInfo in appInfo.gitCommits"></git-commit>
			</div>
		</div>
	</div>
	<div ng-show="GPACalculator.currentTab=='dashboard'" class="full-width">
		<div ng-hide="GPACalculator.studentData | isEmpty" class="card">
			<div class="card-header text-size-d">Student Information</div>
			<div class="card-body">
				<loader loader="showUploadLoader"></loader>
				<table ng-hide="showUploadLoader" class="gpa-results-table">
					<tr>
						<td>Name</td>
						<td class="padlr10">:</td>
						<td>{{GPACalculator.studentData.NAME}}</td>
					</tr>
					<tr>
						<td>Roll No</td>
						<td class="padlr10">:</td>
						<td>{{GPACalculator.studentData.ROLL_NO}}</td>
					</tr>
					<tr>
						<td>Branch</td>
						<td class="padlr10">:</td>
						<td hide-xs>{{GPACalculator.studentData.BRANCH}}</td>
						<td hide-gt-xs>{{GPACalculator.studentData.BRANCH_CODE}}</td>
					</tr>
					<tr ng-show="GPACalculator.studentData.PASSED_CREDITS">
						<td>Passed Credits</td>
						<td class="padlr10">:</td>
						<td> {{GPACalculator.studentData.PASSED_CREDITS}}</td>
					</tr>
					<tr ng-show="GPACalculator.studentData.FAILED_CREDITS">
						<td>Failed Credits</td>
						<td class="padlr10">:</td>
						<td>{{GPACalculator.studentData.FAILED_CREDITS}}</td>
					</tr>
					<tr ng-show="GPACalculator.studentData.OTHER_CREDITS">
						<td>Other Credits</td>
						<td class="padlr10">:</td>
						<td>{{GPACalculator.studentData.OTHER_CREDITS}}</td>
					</tr>
					<tr>
						<td>Total Credits</td>
						<td class="padlr10">:</td>
						<td>{{GPACalculator.studentData.TOTAL_CREDITS}}</td>
					</tr>
					<tr>
						<td>Cumulative GPA</td>
						<td class="padlr10">:</td>
						<td>{{GPACalculator.studentData.CGPA  | number : 2}}</td>
					</tr>
				</table>
			</div>
		</div>
		<div ng-hide="(GPACalculator.semesterChartData | isEmpty) || !chartLoaded" class="card">
			<div class="card-header text-size-d">Semester-wise Chart</div>
			<div class="card-body">
				<loader loader="showUploadLoader"></loader>
				<chart ng-hide="showUploadLoader" chart-data="GPACalculator.semesterChartData" chart-loaded="chartLoaded"></chart>
			</div>
		</div>
		<div class="card">
			<div class="card-header text-size-d">Calculate</div>
			<div permission-check="appData.user.permission" min-permission="globals.permissions.USER" class="card-body">
				<loader loader="showUploadLoader"></loader>
				<div ng-hide="showUploadLoader" layout="column" layout-align-xs="start center">
					<file-select label="'Select Gradecard'" on-file-select="GPACalculator.onGradeCardSelect" selected-file='GPACalculator.selectedFile' accept="application/pdf"></file-select>
					<div class="mrgtop5"><md-button class="md-raised md-primary" ng-click="GPACalculator.uploadGradeCard()">Calculate</md-button></div>
				</div>
				
			</div>
		</div>
	</div>
</div>