<div class="background-container bg-cover bg-tinted full-height" layout="column" layout-align="center-center" image-load image="appData.bgImage" location="globals.images.root">
	<div class="home-title text-size-a text-uppercase text-no-select">{{globals.title}}</div>
	<div class="text-size-c text-no-select mrgbot30">{{globals.subtitle}}</div>
</div>
<div class="content-container min-full-height" layout="column" layout-align="center center">
	<div class="mrgtop30" hide-gt-xs></div>
	<div class="page-subtitle text-size-c">Popular Applications</div>
	<div class="mrgtop10" layout-gt-sm="row" layout-sm="row" layout-xs="column" layout-align-gt-sm="center start" layout-align-sm="center start" layout-align-xs="center center" layout-wrap>
		<div class="mrgtb10 padlr10" ng-repeat="appInfo in appsInfo | orderBy: 'priority'  | limitTo : 3" layout="column" layout-align="start center" flex-gt-sm="33" flex-sm="50">
			<div flex class="circle pad20 text-40 mrg10" ng-class="(appInfo.showPage ? 'pointer' : '') + ' bg'+(hover ? '-' : '-light-') + 'theme-' + globals.theme" layout="row" layout-align="center center" ng-init="hover=false" ng-click="goToApplicationPage(appInfo.id)" ng-mouseenter="hover=appInfo.showPage" ng-mouseleave="hover=false">
				<md-icon>{{appInfo.icon}}</md-icon>
			</div>
			<span flex class="text-18 text-bold">{{appInfo.name}}</span>
			<div flex class="text-center" ng-bind-html="appInfo.description"></div>
		</div>
	</div>
	<md-button class="mrgtop30 mrgbot20 md-raised md-primary text-uppercase" ui-sref="apps" aria-label="View all Applications">View all Applications</md-button>
	<div class="mrgtop30" hide-gt-xs></div>
</div>