<md-dialog class="modal-container full-screen" aria-label="Add Crew">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{dialog.title}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="modal-content-container">
        <div class="content-container" layout="column" layout-align="center center">
            <div ng-hide="crewId" class="full-width">
                <div class="card">
                    <div class="card-header text-size-d">Select User: </div>
                    <div class="card-body" permission-check="appData.user.permission" min-permission="globals.permissions.ADMIN" layout="row" layout-wrap>
                        <list-loader list="users" list-param="Users"></list-loader>
                        <user user-info="user" on-click="onUserSelect" ng-repeat="user in users | orderBy : 'name'" flex-lg="33" flex-md="50" flex-sm="50" flex-xs="100"></user>
                    </div>
                </div>
            </div>
            <div ng-show="crewId" class="full-width">
                <div class="card">
                    <div class="card-body" layout="column">
                        <div layout="row" layout-xs="column" layout-align-xs="center center" layout-wrap>
                            <div class="crew-image" image-load image="crewInfo.image"></div>
                            <table class="crew-data padtop10 table">
                                <tbody class="txt14">
                                    <tr class="padtb10">
                                        <td class="text-bold">Name</td>
                                        <td class="padlr5">:</td>
                                        <td>{{crewInfo.name}}</td>
                                    </tr>
                                    <tr class="padtb10">
                                        <td class="text-bold">Email</td>
                                        <td class="padlr5">:</td>
                                        <td>{{crewInfo.email}}</td>
                                    </tr>
                                    <tr class="padtb10">
                                        <td class="text-bold">UserID</td>
                                        <td class="padlr5">:</td>
                                        <td class="word-wrap">{{crewInfo.uid}}</td>
                                    </tr>
                                    <tr class="padtb10">
                                        <td class="text-bold">Crew Type</td>
                                        <td class="padlr5">:</td>
                                        <td ng-if="dialog.permission == dialog.permissions.ADMIN" class="word-wrap">
                                            <md-select ng-model="crewInfo.crewType" aria-label="crew-type-select" ng-change="setDefault(crewInfo.crewType)">
                                                <md-option ng-repeat="type in dialog.crewTypes" ng-value="type.id">{{type.name}}</md-option>
                                            </md-select>
                                        </td>
                                        <td ng-if="dialog.permission == dialog.permissions.MANAGER">{{getCrewTypeLabel(crewInfo.crewType)}}</td>
                                    </tr>
                                    <tr ng-if="(dialog.permission == dialog.permissions.MANAGER) && crewInfo.level!=null" class="padtb10">
                                        <td class="text-bold">Level</td>
                                        <td class="padlr5">:</td>
                                        <td class="word-wrap">{{crewInfo.level}}</td>
                                    </tr>
                                    <tr ng-if="(dialog.permission == dialog.permissions.MANAGER) && crewInfo.designation" class="padtb10">
                                        <td class="text-bold">Job</td>
                                        <td class="padlr5">:</td>
                                        <td class="word-wrap">{{crewInfo.designation}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <form  ng-if="dialog.permission == dialog.permissions.ADMIN" name="crewForm" ng-submit="saveCrew()" ng-validate>
                            <div class="mrgtop10" layout-gt-xs="row" layout-fill>
                                <md-input-container ng-if="crewInfo.crewType == 'fullTime'" class="full-width" flex-gt-xs>
                                    <md-select ng-model="crewInfo.level" aria-label="level-select">
                                        <md-option ng-repeat="level in dialog.levels" ng-value="level.value">{{level.name}}</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container ng-if="crewInfo.crewType == 'fullTime'" class="full-width mrgbot0" flex-gt-xs>
                                    <label>Designation</label>
                                    <input type="text" name="designation" ng-model="crewInfo.designation" autocomplete="off" ng-required="crewInfo.crewType == 'fullTime'">
                                    <div ng-messages="crewForm.designation.$error" role="alert">
                                        <div ng-message="required">Designation can't be empty.</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="full-width" flex-gt-xs>
                                    <label>Crew URL</label>
                                    <input type="text" name="crewURL" ng-model="crewInfo.crewURL" autocomplete="off" maxlength="30" required>
                                    <div ng-messages="crewForm.crewURL.$error" role="alert">
                                        <div ng-message="required">Crew URL can't be empty.</div>
                                        <div ng-message="maxlength">Exceeded maximum allowed characters.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div class="text-center full-width">
                                <md-button class="md-raised" type="submit">Save</md-button>
                                <md-button ng-hide="newCrew" class="md-raised md-primary" ng-click="deleteCrew()">Delete</md-button>
                            </div> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>