html, body {
	width: 100%;
	height: 100%;
	max-width: 100%;
	overflow: hidden;
  font-family: 'PT Sans', sans-serif;
}
h1, h2, h3 {
  margin: 5px 0px;
}
a {
  color: #000;
  font-weight: bold;
  text-decoration: none!important;
}
a:hover, a:focus {
  text-decoration: none!important;
  font-weight: bolder!important;
  color: #000;
}
a:focus, button:focus, md-icon:focus, :focus {
  outline: none!important;
}

.loader-shadow {
  width: 100%;
  height: 100%;
  background: #fff;
  position: relative;
  z-index: 999;
}

/*Container Classes*/
.body-container, .app-container, .main-container, .modal-content-container {
	width: 100%;
	height: 100%;
	max-width: 100%;
}
.app-container, .modal-container {
  background: #FAFAFA;
}	
.app-container {
	overflow: hidden;
  color: rgba(0,0,0,0.67);
}
.main-container, .modal-content-container {
	overflow-x: hidden;
	overflow-y: auto;
}
.background-container {
  width: 100%;
  min-height: 40%;
  color: #fff;
}
.content-container {
  box-sizing: border-box;
	margin: 0 15%;
  padding: 20px 10px;
}
@media(max-width: 768px	) {
	.content-container {
		margin: 0;
    padding: 10px;
	}
}
/*Container Classes*/

/*Animation Classes*/
.ripple-animate {
  animation: ripple 0.65s linear;
}
/*Animation Classes*/

/*SideMenu Classes*/
md-sidenav {
  width: 270px!important;
  min-width: 270px!important;
  max-width: 270px!important;
  box-shadow: 1px 0px 2px 0px #ccc!important;
}
.side-menu-user-container {
  height: 240px;
  width: inherit;
  padding: 15px;
}
.side-menu-tabs-container {
  overflow-y: auto;
  padding-bottom: 20px; 
}
.side-menu-tab {
  padding: 12px 15px 10px;
  cursor: pointer;
}
.side-menu-tab:hover {
  background: #FAFAFA;
}
.side-menu-tab.active {
  background: #F5F5F5;
}
.side-menu-footer {
  text-align: center;
  min-width: 100%;
}
.side-menu-button {
  margin: 10px 20px 20px;
  padding: 5px 20px;
  text-transform: none;
}
/*SideMenu Classes*/

/*NavBar Classes*/
.nav-bar {
	box-shadow: 0 1px 5px 0 rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
}
.nav-bar, .nav-wrapper {
  height: 60px;
  position: relative;

  background: #F5F5F5!important;
  color: #212121;
}
.nav-menu-button {
  margin: auto 10px;
  cursor: pointer;
}
.nav-brand-name {
  padding: 0 20px;
}
@media(max-width: 768px){
	.nav-bar, .nav-wrapper {
		z-index: 59;
	}
	.nav-brand-name {
  		padding: 0 10px;
	}					
}
/*NavBar Classes*/

/*Card Classes*/
.card {
  width: 100%;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  box-sizing: border-box;
  margin-bottom: 20px;
  background: #fff;
  min-height: 250px;
  padding: 20px;
  color: rgba(0,0,0,0.8);
}
.card-header {
  border-bottom: 1px solid #ccc;  
}
.card-body {
  padding: 15px 0;
  font-size: 18px;
}
.card-footer {
  padding: 10px 0 0;
  border-top: 1px solid #ccc;
}
@media(max-width: 768px) {
  .card {
    padding: 15px;
    margin-bottom: 10px;
  }
  .card-body {
    padding: 10px 0;
    font-size: 16px;
  }
}
/*Card Classes*/

/*Tab Classes*/
.tabs {
  display: flex;
  padding: 10px 15px 0;
}
.tabs .tab-item {
  padding: 5px 10px 10px;
  min-width: 75px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.8;
  border-bottom: none;
  font-size: 16px;
}
.tabs .tab-item.active {
  font-weight: bold;
  border-bottom: 2px solid;
  opacity: 1;
}
@media(max-width: 768px) {
  .tabs {
    padding: 5px 10px 0;
  }
  .tabs .tab-item {
    font-size: 14px;
  }
}
/*Tab Classes*/

/*Custom Classes*/
.page-header {
  width: 100%;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  box-sizing: border-box;
  margin-bottom: 20px;
}
.page-header .title {
  min-height: 56px;
  padding: 15px 20px;
}
.page-subtitle {
  text-transform: uppercase;
  margin: 20px 0 40px;
}
.img-circle {
  border-radius: 50%;
}
.home-title {
  border-bottom: 2px solid #fff;
  margin-bottom: 10px;
  padding: 0 5px;
}
@media(max-width: 768px) {
  .page-header {
    margin-bottom: 10px;
  }
  .page-header .title {
    padding: 10px 15px;
  }
  .page-subtitle {
    margin: 20px 0 10px;
  }
  .home-title {
    border-bottom: 1px solid #fff;
    padding: 0px 2px 3px;
    margin-bottom: 2px;
  }
}
/*Custom Classes*/

/*User Classes*/
.user-card {
  padding: 10px 10px 10px 15px;
  cursor: pointer;
}
.user-card:hover {
  background: #F6F6F6;
}
.user-image {
  background-repeat: no-repeat;
}
.user-image {
  width: 150px;
  height: 150px;
  background-size: 150px;
  border-radius: 50%;
}
.user-image.small {
  width: 50px;
  height: 50px;
  background-size: 50px;
}
.user-data {
  padding: 5px 0px 5px 20px;
}
.user-data.small {
  padding: 5px 0px 5px 20px;
}
.user-name {
  font-size: 20px;
}
.user-email {
  font-size: 14px;
  margin-top: -2px;
}
@media(max-width: 768px) {
  .user-card {
    padding: 10px 5px 10px 10px;
  }
  .user-data {
    padding: 0 0 0 15px; 
  }
  .user-data.small {
    padding: 0 0 0 15px; 
  }
}
/*User Classes*/

/*Crew Classes*/
.crew-card {
  padding: 10px;
}
.crew-card:hover {
  background: #F6F6F6;
}
.crew-image {
  background-repeat: no-repeat;
}
.crew-image {
  width: 200px;
  height: 200px;
  background-size: 200px;
  margin: 5px;
}
.crew-image.small {
  width: 50px;
  height: 50px;
  background-size: 50px;
  border-radius: 50%;
}
.crew-data {
  padding: 5px 0px 5px 20px;
}
.crew-data.table {
  padding: 30px 40px;
  font-size: 20px;
}
.crew-data.small {
  padding: 5px 0px 5px 20px;
}
.crew-name {
  font-size: 24px;
}
.crew-designation {
  font-size: 20px;
}
.crew-email {
  font-size: 18px;
}
.crew-data.small .crew-name {
  font-size: 20px;
}
.crew-data.small .crew-designation {
  font-size: 16px;
  margin-top: -3px;
}
.crew-data.small .crew-email {
  margin-top: -2px;
  font-size: 14px;
}
@media(max-width: 768px) {
  .crew-card {
    padding: 10px 0;
  }
  .crew-image.small {
    width: 60px;
    height: 60px;
    background-size: 60px;
  }
  .crew-data {
    padding: 0 0 0 15px; 
  }
  .crew-data.table{
    padding: 20px 0 0 0;
    font-size: 16px;
  }
  .crew-data.small {
    padding: 0 0 0 15px; 
  }
}
/*Crew Classes*/

/*Contact Classes*/
.contact-cards .card:nth-child(1n){
  margin-left: 0; 
  margin-right: 10px;
  min-height: 0px;
}
.contact-cards .card:nth-child(2n){
  margin-left: 10px;
  margin-right: 0; 
}
.contact-cards a , .contact-cards a:hover, .contact-cards a:focus{
  font-weight: normal!important;
}
.contact-phone, .contact-email {
  padding: 5px 0;  
}
.contact-phone md-icon, .contact-email md-icon {
  font-size: 48px;
}
.contact-phone a, .contact-email a{
  padding-left: 20px;   
}
@media(max-width: 768px) {
  .contact-cards .card{
    margin-left: 0!important; 
    margin-right: 0!important;
  }
  .contact-phone md-icon, .contact-email md-icon {
    font-size: 36px;
  }
}
/*Contact Classes*/
/*Theme Classes*/
.bg-theme-red {
	background-color: #D32F2F!important;
  border-color: #FFEBEE!important;
}
.bg-theme-red, .text-theme-red {
	color: #FFEBEE!important;
}
.text-dark-theme-red {
	color: #D32F2F!important;
}

.bg-theme-pink {
	background-color: #C2185B!important;
  border-color: #FCE4EC!important;
}
.bg-theme-pink, .text-theme-pink {
	color: #FCE4EC!important;
}
.text-dark-theme-pink {
	color: #C2185B!important;
}

.bg-theme-purple {
	background-color: #7B1FA2!important;
  border-color: #F3E5F5!important;
}
.bg-theme-purple, .text-theme-purple {
	color: #F3E5F5!important;
}
.text-dark-theme-purple {
	color: #7B1FA2!important;
}

.bg-theme-deep-purple {
	background-color: #512DA8!important;
  border-color: #EDE7F6!important;
}
.bg-theme-deep-purple, .text-theme-deep-purple {
	color: #EDE7F6!important;
}
.text-dark-theme-deep-purple {
	color: #512DA8!important;
}

.bg-theme-indigo {
	background-color: #303F9F!important;
  border-color: #E8EAF6!important;
}
.bg-theme-indigo, .text-theme-indigo {
	color: #E8EAF6!important;
}
.text-dark-theme-indigo {
	color: #303F9F!important;
}

.bg-theme-blue {
	background-color: #1976D2!important;
  border-color: #E3F2FD!important;
}
.bg-theme-blue, .text-theme-blue {
	color: #E3F2FD!important;
}
.text-dark-theme-blue {
	color: #1976D2!important;
}

.bg-theme-light-blue {
	background-color: #0288D1!important;
  border-color: #E1F5FE!important;
}
.bg-theme-light-blue, .text-theme-light-blue {
	color: #E1F5FE!important;
}
.text-dark-theme-light-blue {
	color: #0288D1!important;
}

.bg-theme-cyan {
	background-color: #0097A7!important;
  border-color: #E0F7FA!important;
}
.bg-theme-cyan, .text-theme-cyan {
	color: #E0F7FA!important;
}
.text-dark-theme-cyan {
	color: #0097A7!important;
}

.bg-theme-teal {
	background-color: #00796B!important;
  border-color: #E0F2F1!important;
}
.bg-theme-teal, .text-theme-teal {
	color: #E0F2F1!important;
}
.text-dark-theme-teal {
	color: #00796B!important;
}

.bg-theme-green {
	background-color: #388E3C!important;
  border-color: #E8F5E9!important;
}
.bg-theme-green, .text-theme-green {
	color: #E8F5E9!important;
}
.text-dark-theme-green {
	color: #388E3C!important;
}

.bg-theme-light-green {
	background-color: #689F38!important;
  border-color: #F1F8E9!important;
}
.bg-theme-light-green, .text-theme-light-green {
	color: #F1F8E9!important;
}
.text-dark-theme-light-green {
	color: #689F38!important;
}

.bg-theme-lime {
	background-color: #AFB42B!important;
  border-color: #F9FBE7!important;
}
.bg-theme-lime, .text-theme-lime {
	color: #F9FBE7!important;
}
.text-dark-theme-lime {
	color: #AFB42B!important;
}

.bg-theme-yellow {
	background-color: #FBC02D!important;
  border-color: #FFFDE7!important;
}
.bg-theme-yellow, .text-theme-yellow {
	color: #FFFDE7!important;
}
.text-dark-theme-yellow {
	color: #FBC02D!important;
}

.bg-theme-amber {
	background-color: #FFA000!important;
  border-color: #FFF8E1!important;
}
.bg-theme-amber, .text-theme-amber {
	color: #FFF8E1!important;
}
.text-dark-theme-amber {
	color: #FFA000!important;
}

.bg-theme-orange {
	background-color: #F57C00!important;
  border-color: #FFF3E0!important;
}
.bg-theme-orange, .text-theme-orange {
	color: #FFF3E0!important;
}
.text-dark-theme-orange {
	color: #F57C00!important;
}

.bg-theme-deep-orange {
	background-color: #E64A19!important;
  border-color: #FBE9E7!important;
}
.bg-theme-deep-orange, .text-theme-deep-orange {
	color: #FBE9E7!important;
}
.text-dark-theme-deep-orange {
	color: #E64A19!important;
}

.bg-theme-brown {
	background-color: #5D4037!important;
  border-color: #EFEBE9!important;
}
.bg-theme-brown, .text-theme-brown {
	color: #EFEBE9!important;
}
.text-dark-theme-brown {
	color: #5D4037!important;
}

.bg-theme-grey {
	background-color: #616161!important;
  border-color: #FAFAFA!important;
}
.bg-theme-grey, .text-theme-grey {
	color: #FAFAFA!important;
}
.text-dark-theme-grey {
	color: #616161!important;
}

.bg-theme-blue-grey {
	background-color: #455A64!important;
  border-color: #ECEFF1!important;
}
.bg-theme-blue-grey, .text-theme-blue-grey {
	color: #ECEFF1!important;
}
.text-dark-theme-blue-grey {
	color: #455A64!important;
}
/*Theme Classes*/

/*Special Classes*/
.full-screen {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.blockquote {
  border-left: 5px solid!important;
  margin: 20px;
  padding: 20px;
  font-size: 24px;
}

.blockquote-grey {
  border-left-color: #424242!important;/*grey*/
}

.blockquote-red {
  border-left-color: #B71C1C!important;/*red*/
}

.blockquote-cyan {
  border-left-color: #0097A7!important;/*cyan*/
}

.img-circle {
  border-radius: 50%;
}

.toast {
  position: fixed;
  top: 70px!important;
  right: 20px!important;
}
/*Special Classes for Mobile*/
@media (max-width: 768px) {
  .blockquote {
    padding: 15px;
    font-size: 16px;
  }
  .toast {
    position: fixed;
    top: auto!important;
    bottom: 0px!important; 
  }
}
/*Special Classes*/

/*General Classes*/
.bg-blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.bg-tinted {
  background-color: rgba(200,100,0,.5);
  background-blend-mode: multiply;
}
.bg-fixed {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.auto-height {
  height: auto!important;
}
.auto-width {
  width: auto!important;
}
.pad0 {
  padding: 0px!important;
}
.pad5, .glyphicon, .fa  {
  padding: 5px;
}
.pad10 {
	padding: 10px;
}
.pad15 {
  padding: 15px;
}
.pad20 {
	padding: 20px;
}
.padl10 {
  padding-left: 10px!important;
}
.padl15 {
  padding-left: 15px!important;
}
.padtop10 {
  padding-top: 10px!important;
}
.padtop20 {
  padding-top: 20px!important;
}
.padtop30 {
  padding-top: 30px!important;
}
.padbot0 {
  padding-bottom: 0px!important;
}
.padbot5 {
  padding-bottom: 5px!important;
}
.padbot10 {
  padding-bottom: 10px!important;
}
.padbot15 {
  padding-bottom: 15px!important;
}
.padbot20 {
  padding-bottom: 20px!important;
}
.padlr0 {
  padding-left: 0px!important;
  padding-right: 0px!important; 
}
.padlr-5 {
  padding-left: -5px;
  padding-right: -5px; 
}
.padlr5 {
  padding-left: 5px;
  padding-right: 5px; 
}
.padlr6 {
  padding-left: 6px!important;
  padding-right: 6px!important; 
}
.padlr10 {
  padding-left: 10px;
  padding-right: 10px; 
}
.padlr20 {
  padding-left: 20px;
  padding-right: 20px; 
}
.padtb0 {
  padding-top: 0px!important;
  padding-bottom: 0px!important;
}
.padtb5 {
  padding-top: 5px!important;
  padding-bottom: 5px!important;
}
.padtb10 {
  padding-top: 10px!important;
  padding-bottom: 10px!important;
}
.padtb15 {
  padding-top: 15px!important;
  padding-bottom: 15px!important;
}
.padtb20 {
  padding-top: 20px!important;
  padding-bottom: 20px!important;
}
.mrg0 {
  margin: 0px!important;
}
.mrg5 {
  margin: 5px;
}
.mrg10 {
	margin: 10px;
}
.mrg15 {
  margin: 15px;
}
.mrg20 {
  margin: 20px;
}
.mrgtop-10 {
  margin-top: -10px!important;
}
.mrgtop5 {
  margin-top: 5px!important;
}
.mrgtop10 {
  margin-top: 10px!important;
}
.mrgtop15 {
  margin-top: 15px!important;
}
.mrgtop20 {
  margin-top: 20px!important;
}
.mrgtop25 {
  margin-top: 25px!important;
}
.mrgtop30 {
  margin-top: 30px!important;
}
.mrgtop40 {
  margin-top: 40px!important;
}
.mrgtop50 {
  margin-top: 50px!important;
}
.mrgbot0 {
  margin-bottom: 0px!important;
}
.mrgbot5 {
  margin-bottom: 5px!important;
}
.mrgbot10 {
  margin-bottom: 10px!important;
}
.mrgbot20 {
  margin-bottom: 20px!important;
}
.mrgbot30 {
  margin-bottom: 30px!important;
}
.mrgbot40 {
  margin-bottom: 40px!important;
}
.mrgbot50 {
  margin-bottom: 50px!important;
}
.mrgtb10 {
  margin-top: 10px!important;
  margin-bottom: 10px!important;
}
.mrgtb20 {
  margin-top: 20px!important;
  margin-bottom: 20px!important;
}
.mrgl-5 {
  margin-left: -5px!important;
}
.mrgl10 {
  margin-left: 10px!important;
}
.mrgl-10 {
  margin-left: -10px!important;
}
.mrgrt10 {
  margin-right: 10px!important;
}
.mrgrt20 {
  margin-right: 20px!important;
}
.mrglr5 {
  margin-left: 5px;
  margin-right: 5px;
}!important
.mrglr-5 {
  margin-left: -5px;
  margin-right: -5px;
}
.mrglr10 {
  margin-left: 10px;
  margin-right: 10px;
}
.mrglr-10 {
  margin-left: -10px;
  margin-right: -10px;
}
.mrglr15 {
  margin-left: 15px;
  margin-right: 15px;
}
.mrglr20 {
  margin-left: 20px;
  margin-right: 20px;
}
.vh-30 {
  height: 30vh!important;
}
.vh-40 {
  height: 40vh!important;
}
.vh-50 {
  height: 50vh!important;
}
.vh-60 {
  height: 60vh!important;
}
.vh-70 {
  height: 70vh!important;
}
.vh-100 {
  height: 100vh!important;
}
.ht100 {
  height: 100px!important;
}
.ht200 {
  height: 200px!important;
}
.ht300 {
  height: 300px!important;
}
.ht500 {
  height: 500px!important;
}
.lh-50 {
  line-height: 50px!important;
}
.full-width {
  width: 100%!important;
}
.min-full-width {
  min-width: 100%!important;
}
.width-3 {
  width: 100%;
}
.full-height {
  height: 100%!important;
}
.min-full-height {
  min-height: 100%;
}
.clr {
  clear: both;
  overflow: hidden;
}
.flow {
	overflow: hidden!important;
}
.flow-x {
  overflow-x: hidden!important; 
}
.box-shadow {
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28)!important;
}
.no-shadow {
  box-shadow: none!important;
}
.vertical-divider {
  border-right: 1px solid #ddd!important;
}
.border {
	border: 1px solid!important;
}
.no-border {
  border: none!important;
}
.pointer {
  cursor: pointer!important;
}
.no-pointer {
  cursor: default!important;
}
.no-pointer-events {
  pointer-events: none!important;
}
.border-bottom-1 {
  border-bottom: 1px solid #ddd;
}
.border-bottom {
  border-bottom: 2px solid #333;
}
.border-white {
  border-color: white;
}
.text-white {
	color: white;
}
.text-black {
  color: #000!important;/*black*/
}
.text-uppercase {
	text-transform: uppercase!important;
}
.text-underline {
  text-decoration: underline!important;
}
.text-bold, .text-bold-hover:hover {
  font-weight: bold!important;
}
.text-italic {
  font-style: italic!important;
}
.text-center {
  text-align: center!important;
}
.text-justify {
  text-align: justify!important;
}
.text-10 {
  font-size: 10px!important;
}
.text-12 {
  font-size: 12px!important;
}
.text-14 {
  font-size: 14px!important;
}
.text-16 {
  font-size: 16px!important;
}
.text-18 {
  font-size: 18px!important;
}
.text-20 {
  font-size: 20px!important;
}
.text-24 {
  font-size: 24px!important;
}
.text-26 {
  font-size: 26px!important;
}
.text-28 {
  font-size: 28px!important;
}
.text-32 {
  font-size: 32px!important;
}
.text-36 {
  font-size: 36px!important;
}
.text-48 {
  font-size: 48px!important;
}
.title-border {
  border: 2px solid #fff!important;
  border-radius: 2px;
  padding: 5px 10px;
}
.text-size-a {
  font-size: 36px!important;
}
.text-size-b {
  font-size: 26px!important;
}
.text-size-c {
  font-size: 24px!important;
}
.text-size-d {
  font-size: 22px!important;
}
.text-size-e {
  font-size: 18px!important;
}
@media (min-width: 768px) {
  .width-3 {
    width: 33%;
  }
  .title-border {
    border: 3px solid #fff!important;
    border-radius: 3px;
    padding: 5px 15px;
  }
  .text-size-a {
    font-size: 72px!important;
  }
  .text-size-b {
    font-size: 48px!important;
  }
  .text-size-c {
    font-size: 30px!important;
  }
  .text-size-d {
    font-size: 26px!important;
  }
  .text-size-e {
    font-size: 22px!important;
  }
}
@media (min-width: 1200px) {
  .title-border {
    border: 5px solid #fff!important;
    border-radius: 5px;
    padding: 5px 20px;
  }
  .text-size-a {
    font-size: 108px!important;
  }
  .text-size-b {
    font-size: 60px!important;
  }
  .text-size-c {
    font-size: 32px!important;
  }
  .text-size-d {
    font-size: 28px!important;
  }
  .text-size-e {
    font-size: 24px!important;
  }
}
.word-wrap {
  word-wrap: break-word;
}
/*General Classes*/

/*Angular Material Workaround Classes*/
/*Angular Material Workaround Classes*/