.app-cards {
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 10px;
}
.app-card {
    height: 450px;
    margin-bottom: 10px;
    width: 100%;
}
.app-pad {
    padding: 0 5px;
    width: 100%;
}
.app-pad.first {
    padding-left: 0px;
    padding-right: 5px;
}
.app-pad.third {
    padding-left: 5px;
    padding-right: 0px;
}
.app-card-circle {
    border: 2px solid;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 10px;
    transition: background-color 0.5s ease;
}
.app-card-circle md-icon {
    font-size: 60px;
    margin: 20px;
    width: 60px;
    height: 60px;
    color: rgba(0,0,0,0.87);
}
.app-card-circle:hover, .app-card-circle:focus {
    background-color: #000;
}
.app-card-circle:hover md-icon, .app-card-circle:focus md-icon {
    color: #fff;
}
.app-card-name {
    text-transform: uppercase;
    margin: 40px 0 10px;
}
.app-card-description {
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}
@media(max-width: 768px) {
    .app-pad, .app-pad.first, .app-pad.third {
        padding: 0;
    }
}