<div class="page-header" ng-class="'bg-theme-'+theme">
	<div class="title" layout="row" layout-align="start center">
		<md-icon ng-if="backButton" class="material-icons text-size-d back" md-ink-ripple ng-click="goBack()">arrow_back</md-icon>
		<div class="text-size-d" flex>{{header}}</div>
		<div class="menu-container"></div>
	</div>
	<div ng-if="tabs |isEmpty : true" class="tabs">
		<div class="tab-item text-no-select" ng-repeat="tab in tabs" ng-class="{'active': currentTab == tab.id}" ng-click="changeTab(tab)">{{tab.name}}</div>
	</div>
</div>